* { box-sizing: border-box; }
@media (min-width: 768px) { .cont { width: 750px; } }
@media (min-width: 992px) { .cont { width: 970px; } }
@media (min-width: 1200px) { .cont { width: 1170px; } }
.cont { margin: 0 auto; }
.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
  margin-bottom: 10px;
  width: 100%;
}
.wrap:last-child { margin-bottom: 0; }